

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/pageB" method="POST">
        <input type="text" name="fname" value="b">
        <input type="text" name="lname" value="bunny">
        <input type="text" name="pass" value="123">  
        <input type="text" name="npass" value="123">    
        <input type="text" name="tell" value="12344566">      
        <input type="text" name="email" value="b@gmail.com">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
<!-- http://localhost:3000/pageB -->